.liquidChrome-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.liquidChrome-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}
